@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Nunito+Sans:300,300i,400,400i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:300,300i,400,400i,500,500i,600,600i,700,700i|Martel:300,300i,400,400i,700,700i,900,900i|Work+Sans:600,700&display=swap");

/* -------------------------------------------------------------------
 * responsive:
 * common and reusable styles
 * ------------------------------------------------------------------- */

.section-intro::before {
  content: attr(data-num);
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 12rem;
  line-height: 1;
  letter-spacing: -0.045em;
  color: rgba(0, 0, 0, 0.12);
  position: absolute;
  top: -0.2em;
  left: 0rem;
}

/* ===================================================================
 * # site header
 *
 * ------------------------------------------------------------------- */
.s-header {
  width: 100%;
  height: 4.3rem;
  position: absolute;
  top: 0.7rem;
  left: 0;
}

.s-header.offset {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.s-header.scrolling {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.s-header.sticky {
  background-color: var(--background);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.s-header.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}

/* -------------------------------------------------------------------
 * ## hero scroll
 * ------------------------------------------------------------------- */
.hero-scroll {
  position: absolute;
  right: 3rem;
  bottom: 10rem;
}

.hero-scroll .scroll-link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-scroll .scroll-link {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 0;
  position: relative;
}

.hero-scroll .scroll-link:hover,
.hero-scroll .scroll-link:focus {
  background-color: #2280de;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --iconBgColor: white;
    --iconColor: black;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --iconBgColor: black;
    --iconColor: white;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .section-container {
    @apply mx-7 xl:mx-[12rem] 2xl:mx-[20rem] pt-44 md:pt-72 overflow-hidden;
  }
}
